[% FOREACH articulo IN articulos %]
<div>[% articulo.nombre %]<a href="/articulos/detalle/[% articulo.id %]">Detalle</a><a href="/articulos/eliminar/[% articulo.id %]">Eliminar</a></div>
[% END %]

<a href="/articulos/nuevo">Agregar</a>
